
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        {% block title %}
        {% endblock title %}
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="{% static "assets/img/apple-icon.png" %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static "assets/img/favicon.ico" %}">

    <link rel="stylesheet" href="{% static "assets/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/templatemo.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/custom.css" %}">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="{% static "assets/css/fontawesome.min.css" %}">
    {% block style %}
    {% endblock style %}
    <style>
        body{
            overflow-x: hidden;
        }
        .message-tower{
            position: fixed;
            bottom: 20px;
            right: 20px;
            z-index: 1000;
            width: auto;
            max-width: 600px;
        }
    </style>
</head>

<body>
    {% include "header.html" %}
    

    {% block content %}
    {% endblock content %}

    {% include "message.html" %}

    {% include "footer.html" %}

    <!-- Start Script -->
    <script src="{% static "assets/js/jquery-1.11.0.min.js" %}"></script>
    <script src="{% static "assets/js/jquery-migrate-1.2.1.min.js" %}"></script>
    <script src="{% static "assets/js/bootstrap.bundle.min.js" %}"></script>
    <script src="{% static "assets/js/templatemo.js" %}"></script>
    <script src="{% static "assets/js/custom.js" %}"></script>
    <!-- End Script -->

</body>

</html>